.question {
  font-size: 14px;
  font-weight: bold;
}

.featured-faq {
  border-radius: 4px;
  background: #fff;
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}

.featured-faq:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.text-super-muted {
  color: #d2d2d3;
}

.cat-header .cat-header-header {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.cat-header .icon {
  font-size: 20px;
  color: $gray-400;
}

.faq-question {
  font-size: 14px;
}
